{% load staticfiles %}
<html>
    <head>
        <title>Running Tracker</title>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/tracker.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Running Tracker</a></h1>
        </div>
        <div id="container"></div>
        <script type="application/javascript" src="js/highchart.js"></script>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for tracker in tracking_data %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ tracker.run_date }}</p>
                        </div>
                        <h1><a href="">{{ tracker.title }}</a></h1>
                        <p>{{ tracker.comment|linebreaksbr }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>