{% load staticfiles %}
<html>
    <head>
        <title>Running Tracker</title>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/tracker.css' %}">
    </head>
    <body>
        <div class="page-header">           
            <h1><a href="/">Running Tracker</a></h1>          
        </div>
        
        <!--<div id="container"></div>-->
        <!--<script type="text/javascript" src="{% static "js/highchart.js" %}"></script> -->
        <div class="content container">
            <a href="/"><span class="glyphicon glyphicon-plus"></span></a>
            <p style="display: inline;">Add New Run</p>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <th>Run Date</th>
                            <th>Distance (KM)</th>
                            <th>Time (Mins)</th>
                            <th>Comments</th>
                        </tr>
                        {% for item in tracking_data %}
                        <tr> 
                            <td>{{ item.run_date}}</td>
                            <td>{{ item.distance_km }}</td>
                            <td>{{ item.time_mins }}</td>
                            <td>{{ item.comments }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>